<!-- <footer class="footer">footer</footer> -->

<footer >
    <div class="fbox ">
        <div class="container footer">
            <div class="fMail">alysewang@hexschool.com</div>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="#"> 
                        <img src="img/onlyIcon.png" alt="YouTube">
                        <span class="visually-hidden">yt</span>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#">
                        <img src="img/onlyIcon-1.png" alt="pt">
                        <span class="visually-hidden">pt</span>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#">
                        <img src="img/onlyIcon-2.png" alt="facebook">
                        <span class="visually-hidden">facebook</span>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#">
                        <img src="img/icons8-linkedin.png" alt="in">
                        <span class="visually-hidden">In</span>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="#">
                        <img src="img/onlyIcon-3.png" alt="ig">
                        <span class="visually-hidden">IG</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="fboxSecond">
        <p>© 2025 Alyse Wang. All rights reserved.</p>
    </div>
</footer>