<!-- <h1 class="header">header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->



<nav class="navbar">
    <ul class="navbar-nav">
        <li class="nav-item"><a href="#">首頁</a></li>
        <li class="nav-item"><a href="#">部落格</a></li>
    </ul>
</nav>

<header class="flex headerWrap">
     <div class="image-box">
        <img src="img/About Section.png" alt="文章封面圖">
    </div>
    <div class="text-box">
        <h1 class="color1">BLOG</h1>
        <h2 class="title color1">前端工程師 & 職涯諮詢師</h2>
    </div>
</header>