// .footer{
//   background: #69F0AE;
//   font-size: 64px;
// }

// .footer{
//   background: #69F0AE;
//   font-size: 64px;
// }


footer{
	.fbox{ 
		background-color: #fbfbfb;
		@media screen and (max-width: 576px){
			display: $d-none;
		}
	}
	.fboxSecond{ background-color: #ffffff; }

	p{
		padding: 24px 0;
		margin: 0 auto;
		text-align: center;
	}
	.footer{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		z-index: 1;
		
		@media screen and (max-width: 768px){
			flex-direction: column;
		}

		.fMail{
			padding: 80px 0;
			font-size: $fz5;
			@media screen and (max-width: 576px){
				font-size: $fz2;
			}
		}

		&-list{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			// .footer-item a{
			// 	display: inline-block;
			// 	text-indent: -9999px; /* 將文字推到可視範圍外 */
			// 	overflow: hidden;
			// 	white-space: nowrap;
			// 	position: relative;
			// 	img {
			// 		position: absolute;
			// 		top: 0;
			// 		left: 0;
			// 		text-indent: 0;
			// 	  }
			// }
		}
	
	}
}
