<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="flex buttonWrap">
      <div class="image-box">
          <img src="img/About Section.png" alt="文章封面圖">
      </div>
      <div class="text-box">
          <div class="content">
              <span class="date">2024/10/21</span>
              <div class="tags">
                  <h4 class="tags-sTitle mb-1">前端開發 x 職涯成長</h4>
                  <a href="#" class="btnMoreBig">最新文章</a>
              </div>
              <h3>自學前端不用怕：從零開始的三大關鍵</h3>
              <p class="text-overflow mb-2">嗨，我是 Alyse，一名前端工程師兼職涯諮詢師。一直以來，我都很喜歡在部落格分享學習與工作心得，也常有讀者問：「我想轉職/自學前端，該從哪裡開始？」 其實自學的過程既自由又具挑戰性。我整理了三大關鍵，幫助你在短期內建立紮實基礎，並快速累積實戰經驗。希望能替你的前端之路帶來一些啟發與動力！</p>
              <a href="#" class="btnMore">閱讀內文</a>
          </div>
      </div>
  </div>
    <!-- <img src="../assets/images/dog.jpg" style="width: 300px;" alt="cat"> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <!-- main.js 是CSS存放的位置 -->
  </body>
</html>
